# Retrieve User Activity Data

## Task
- Create a database from several CSV-files using SQLite;
- Analyse the database keeping a log of all steps.

## Queastions to answer:
- How many posts have 0 comments?
- How many posts have 1 comments?
- How many posts have 2 comments or more?
- Find the 5 posts with the highest viewcount
- Find the top 5 posts with the highest scores
- What are the 5 most frequent scores on posts?
- How many posts have the keyword "data" in their tags?
- What are the 5 most frequent commentcount for posts?
- How many posts have an accepted answer?
- What is the average reputation of table users?
- What are the min and max reputation of users?
- What is the length of the body of 5 most viewed posts?
- How many different locations are there in the users table?
- What are the top 5 locations of users?
- Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.

- How many posts have been created by a user that has a filled out the "AboutMe" section?
- Considering only the users with an "AboutMe," how many posts are there per user?
- Not taking into account the commentcount field in the table posts, what are the Top 10 posts in terms of number of comments?
- What are the Top 10 posts which have the highest cummulative (post score + comment score) score?
- Who are the top 10 users who comment the most?
- Who are the top 10 users who post the most?

# Preliminary Steps: Create a Database
First let's import Sqlite and the other libraries we will need.

In [1]:
# pip install ipython-sql

In [2]:
# Import Libraries
import numpy as np
import pandas as pd
import sqlite3

### Create the Database
Now we create the Sqlite database.

In [3]:
# If the db does not exist, sqlite will create it.
con = sqlite3.connect('chatdata.db')

# loads sql magic
%load_ext sql 

# connects sql magic command to the correct db
%sql sqlite:///chatdata.db

#### Drop the `queries` table if it already exists
The queries table will be our record of the queries created to answer the questions above.

In [4]:
%%sql
DROP TABLE IF EXISTS 'queries'

 * sqlite:///chatdata.db
Done.

[]

# Load the Data
Now we can start loading the data.  The tables will be created as we load the data.

The data has already been processed into 3 clean data files ready for this project:

- queries.csv
- posts.csv
- comments.csv

We will load these files into our database.

### Load Comments Data into a `comments` table
Now we will load the data from the csv files into our sqlite database.

First we load the csv file into a Pandas dataframe:

In [5]:
comments = pd.read_csv('D://Work//OpenClassroom//Project 4 SQL//chatdata//comments.csv')
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

Now take the comments dataframe and push the data into the Sqlite database table called 'comments':

In [6]:
# load comments into sqlite
comments.to_sql('comments', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM comments'
comments = pd.read_sql(sql, con)
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

### Load Other CSVs
Let's now do the same to read and write the posts.csv and users.csv to sqlite.

In [7]:
users = pd.read_csv('D://Work//OpenClassroom//Project 4 SQL//chatdata//users.csv')
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,NaN,NaN,NaN,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,NaN,NaN,NaN,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,NaN,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,NaN,NaN,NaN,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,NaN,NaN,NaN,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [8]:
# load comments into sqlite
users.to_sql('users', con, if_exists='replace', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM users'
users = pd.read_sql(sql, con)
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [9]:
posts = pd.read_csv('D://Work//OpenClassroom//Project 4 SQL//chatdata//posts.csv')
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,NaN,...,NaN,NaN,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,NaN
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,NaN,...,NaN,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,NaN,NaN
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,NaN,...,NaN,NaN,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,NaN,NaN
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,NaN,...,NaN,NaN,2019-08-24 09:57:01,NaN,NaN,0,0,0,NaN,NaN
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,NaN,...,NaN,2019-08-24 12:13:46,2019-08-24 12:13:46,NaN,NaN,0,1,0,NaN,NaN

In [10]:
posts.to_sql('posts', con, if_exists='replace', index=False)

sql = 'SELECT * FROM posts'
posts = pd.read_sql(sql, con)
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

### Drop Duplicates
Look for and drop any duplicates in all 3 of the tables (if they exist).

In [11]:
(comments['Id']
 .value_counts()
 .reset_index()
 .sort_values(by='Id', ascending=False)
)

        index  Id
0      723182   1
33350  723257   1
33328  723219   1
33329  723197   1
33330  723186   1
...       ...  ..
16668  791743   1
16669  791744   1
16670  791745   1
16671  791746   1
49999  791753   1

[50000 rows x 2 columns]

In [12]:
print('Number of duplicates in comments:', comments.duplicated().sum())

Number of duplicates in comments: 0

In [13]:
(users['Id']
 .value_counts()
 .reset_index()
 .sort_values(by='Id', ascending=False)
)

        index  Id
0      157607   1
12272  157927   1
12278  157755   1
12277  157766   1
12276  157825   1
...       ...  ..
6143   157450   1
6144   157437   1
6145   157402   1
6146   157336   1
18411  157592   1

[18412 rows x 2 columns]

In [14]:
print('Number of duplicates in users:', users.duplicated().sum())

Number of duplicates in users: 0

In [15]:
(posts['Id']
 .value_counts()
 .reset_index()
 .sort_values(by='Id', ascending=False)
)

        index  Id
0      423497   1
28149  423545   1
28151  423523   1
28152  423519   1
28153  423508   1
...       ...  ..
14079  438737   1
14080  438738   1
14081  438739   1
14082  438740   1
42233  438743   1

[42234 rows x 2 columns]

In [16]:
print('Number of duplicates in posts:', posts.duplicated().sum())

Number of duplicates in posts: 0

## Review the Data

We need to understand what data we have and how that data can be used to assist in the initiative of understanding how ChatData is used: 
- Is the data organised in a way that would lend itself to being manged in a relational database?
- How would the different tables be connected?

In [17]:
users.columns

Index(['Id', 'Reputation', 'CreationDate', 'DisplayName', 'LastAccessDate',
       'WebsiteUrl', 'Location', 'AboutMe', 'Views', 'UpVotes', 'DownVotes',
       'ProfileImageUrl', 'AccountId'],
      dtype='object')

In [18]:
users.head()

,Id,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,ProfileImageUrl,AccountId
0,157607,31,2017-04-17 14:50:42,user157607,2019-07-23 16:44:08,None,None,None,0,0,0,https://www.gravatar.com/avatar/2efb161849efa4...,10705183
1,157656,101,2017-04-17 20:08:20,user102859,2019-06-26 13:42:13,None,None,None,3,0,0,https://i.stack.imgur.com/eY4ka.jpg?s=128&g=1,10567606
2,157704,133,2017-04-18 05:10:47,jupiar,2019-11-25 13:32:27,None,"Shanghai, China","<p>Originally from the U.K, I have an Undergra...",1,1,0,https://www.gravatar.com/avatar/720e20205122c5...,9501631
3,157709,155,2017-04-18 06:39:18,farmer,2019-02-17 19:44:24,None,None,None,16,0,0,https://www.gravatar.com/avatar/0f8c4bde3d8f25...,10709837
4,157755,101,2017-04-18 12:56:17,Miki P,2019-08-12 17:02:21,None,None,None,1,9,0,https://www.gravatar.com/avatar/af088558cd81c5...,7969290

In [19]:
comments.columns

Index(['Id', 'PostId', 'Score', 'Text', 'CreationDate', 'UserId'], dtype='object')

In [20]:
comments.head()

,Id,PostId,Score,Text,CreationDate,UserId
0,723182,385124,0,@BenBolker I don't understand. The fit cannot ...,2019-01-01 00:06:39,78575
1,723183,385124,3,"You can't add *less* than (`-min(y)`), but you...",2019-01-01 00:09:22,2126
2,723186,385137,0,nice. If you felt like doing the work it would...,2019-01-01 00:32:11,2126
3,723187,385137,0,"i.e. `emdbook::curve3d(-sum(dnbinom(y,mu=mu,si...",2019-01-01 00:40:36,2126
4,723188,385134,0,"Don't you mean ""so variance should be $\sigma^...",2019-01-01 00:41:28,112141

In [21]:
posts.columns

Index(['Id', 'PostTypeId', 'AcceptedAnswerId', 'ParentId', 'CreationDate',
       'Score', 'ViewCount', 'Body', 'OwnerUserId', 'OwnerDisplayName',
       'LastEditorUserId', 'LastEditorDisplayName', 'LastEditDate',
       'LastActivityDate', 'Title', 'Tags', 'AnswerCount', 'CommentCount',
       'FavoriteCount', 'ClosedDate', 'CommunityOwnedDate'],
      dtype='object')

In [22]:
posts.head()

,Id,PostTypeId,AcceptedAnswerId,ParentId,CreationDate,Score,ViewCount,Body,OwnerUserId,OwnerDisplayName,...,LastEditorDisplayName,LastEditDate,LastActivityDate,Title,Tags,AnswerCount,CommentCount,FavoriteCount,ClosedDate,CommunityOwnedDate
0,423497,1,423511,0,2019-08-24 09:39:31,2,68,"<p>From wikipedia <a href=""https://en.wikipedi...",64552,None,...,None,None,2019-08-24 11:38:54,When are biased estimators with lower MSE pref...,<bias><unbiased-estimator><mse>,1,0,1,2019-08-25 10:25:24,None
1,423498,1,0,0,2019-08-24 09:47:42,1,24,<p>I am currently doing local sensitivity anal...,87231,None,...,None,2019-09-06 12:52:32,2019-09-06 12:52:32,How to interpret the result from local sensiti...,<sensitivity-analysis><elasticity>,1,0,0,None,None
2,423499,1,0,0,2019-08-24 09:48:26,1,56,<p>I'm an honours student in psychology doing ...,257207,None,...,None,None,2019-08-25 08:54:17,Power Analysis in G-Power - Mixed Model Anova,<anova><gpower>,2,0,0,None,None
3,423500,2,0,215865,2019-08-24 09:57:01,0,0,"<p>Maybe you can look this <a href=""https://me...",106606,None,...,None,None,2019-08-24 09:57:01,None,None,0,0,0,None,None
4,423502,2,0,423286,2019-08-24 10:44:52,3,0,<blockquote>\n <p>Q1) Is my approach valid?</...,220643,None,...,None,2019-08-24 12:13:46,2019-08-24 12:13:46,None,None,0,1,0,None,None

# Creating Tables with Referential Integrity

When we loaded the csv files into Sqlite database tables.

In [23]:
%%sql
select sql from sqlite_master

 * sqlite:///chatdata.db
Done.

[('CREATE TABLE "comments" (\n"Id" INTEGER,\n  "PostId" INTEGER,\n  "Score" INTEGER,\n  "Text" TEXT,\n  "CreationDate" TEXT,\n  "UserId" INTEGER\n)',),
 ('CREATE TABLE "users" (\n"Id" INTEGER,\n  "Reputation" INTEGER,\n  "CreationDate" TEXT,\n  "DisplayName" TEXT,\n  "LastAccessDate" TEXT,\n  "WebsiteUr ... (17 characters truncated) ... tion" TEXT,\n  "AboutMe" TEXT,\n  "Views" INTEGER,\n  "UpVotes" INTEGER,\n  "DownVotes" INTEGER,\n  "ProfileImageUrl" TEXT,\n  "AccountId" INTEGER\n)',),
 ('CREATE TABLE "posts" (\n"Id" INTEGER,\n  "PostTypeId" INTEGER,\n  "AcceptedAnswerId" INTEGER,\n  "ParentId" INTEGER,\n  "CreationDate" TEXT,\n  "Scor ... (240 characters truncated) ...   "Tags" TEXT,\n  "AnswerCount" INTEGER,\n  "CommentCount" INTEGER,\n  "FavoriteCount" INTEGER,\n  "ClosedDate" TEXT,\n  "CommunityOwnedDate" TEXT\n)',)]

The above results show the `CREATE TABLE` statements that could be used by Sqlite to recreate the tables with the exact same structure.

The problem with the CREATE TABLE statements above is that they don't enforce **referential integrity**.  In other words, they don't ensure that every UserId and PostId in the comments table refers to an actual UserId and PostId in the users and posts tables.  At the moment. we can insert any old number here, and even have multiple users with the same Id!  One of the advantages of working with relational databases is that they can enforce the correct uniqueness and relationships in the data, but at the moment we are not using that feature.  So let's fix that...

First, let's drop the original tables:

In [24]:
%%sql
DROP TABLE comments;
DROP TABLE users;
DROP TABLE posts;

 * sqlite:///chatdata.db
Done.
Done.
Done.

[]

Prove that this worked by selecting the names of the tables back.  We should have no tables:

In [25]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[]

In Sqlite we need to enable the enforcement of foreign key constraints:

In [26]:
%%sql
PRAGMA foreign_keys=ON;

 * sqlite:///chatdata.db
Done.

[]

Now recreate the users table with a **primary key constraint** by copying the CREATE TABLE statement from above and adding the NOT NULL PRIMARY KEY clause to the Id:

In [27]:
%%sql
CREATE TABLE "users" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"Reputation" INTEGER,
"CreationDate" TEXT,
"DisplayName" TEXT,
"LastAccessDate" TEXT,
"WebsiteUrl" TEXT,
"Location" TEXT,
"AboutMe" TEXT,
"Views" INTEGER,
"UpVotes" INTEGER,
"DownVotes" INTEGER,
"ProfileImageUrl" TEXT,
"AccountId" INTEGER
);

 * sqlite:///chatdata.db
Done.

[]

Now do the same for the posts table:

In [28]:
%%sql
CREATE TABLE "posts" (
"Id" INTEGER NOT NULL PRIMARY KEY,
"PostTypeId" INTEGER,
"AcceptedAnswerId" INTEGER,
"ParentId" INTEGER,
"CreationDate" TEXT,
"Score" INTEGER,
"ViewCount" INTEGER,
"Body" TEXT,
"OwnerUserId" INTEGER,
"OwnerDisplayName" TEXT,
"LastEditorUserId" INTEGER,
"LastEditorDisplayName" TEXT,
"LastEditDate" TEXT,
"LastActivityDate" TEXT,
"Title" TEXT,
"Tags" TEXT,
"AnswerCount" INTEGER,
"CommentCount" INTEGER,
"FavoriteCount" INTEGER,
"ClosedDate" TEXT,
"CommunityOwnedDate" TEXT
);

 * sqlite:///chatdata.db
Done.

[]

Now for the comments table.  We need to add the primary key constraint on the id here as we did for users and posts, but we also need to add FOREIGN KEY constraints on the UserId and PostId.

In [29]:
%%sql
CREATE TABLE "comments" (
"Id" INTEGER,
"PostId" INTEGER,
"Score" INTEGER,
"Text"  TEXT,
"CreationDate" TEXT,
"UserId" INTEGER,
FOREIGN KEY(PostId) REFERENCES posts(Id),
FOREIGN KEY(UserId) REFERENCES users(Id)
);

 * sqlite:///chatdata.db
Done.

[]

Now we can re-insert the data into these constrained tables.  First users:

In [30]:
# Insert data into the new users table
users.to_sql('users', con, if_exists='append', index=False)

Now posts:

In [31]:
# Insert data into the new posts table
posts.to_sql('posts', con, if_exists='append', index=False)

Finally comments, which references the users and posts tables:

In [32]:
# Insert data into the new comments table
comments.to_sql('comments', con, if_exists='append', index=False)

Now check that we have the 3 new table definitions in Sqlite:

In [33]:
%%sql
SELECT name FROM sqlite_master WHERE type='table'
    ORDER BY name

 * sqlite:///chatdata.db
Done.

[('comments',), ('posts',), ('users',)]

We now have all the data in tables in Sqlite and the tables will enforce the referential integrity.

# Answering questions

**Which 5 users have viewed the most times and what is the sum of those views per user?**

## Prepare the Sqlite query

First, let's write the query:

In [34]:
sql = """
SELECT Id, SUM(Views) AS TotalViews
    FROM Users
        GROUP BY Id
            ORDER BY TotalViews DESC
                LIMIT 5
                """
result = pd.read_sql(sql, con) # con is the connection to the database
result

     Id  TotalViews
0   919       85180
1  4253       35119
2   805       34637
3  7290       32639
4  3277       29255

## Test the query
Prove the query worked by performing the same query in Pandas:

In [35]:
results = users.groupby(['Id']).sum().sort_values('Views', ascending = False)[:5]
results['Views']

Id
919     85180
4253    35119
805     34637
7290    32639
3277    29255
Name: Views, dtype: int64

## Insert the query into the `queries` table
Now we need to put this query into the `queries` table in sqlite. We want these queries to be accessible to everybody that should have access to them. We do not want people writing and rewriting the same queires over and over again. The easiest thing to do is create a dictionary with the values and insert these into the queries table.  Note that the values are provided as lists as we are inserting a list of values (i.e. a number of rows) into the table.  In this case the number of rows is 1, so we have lists of 1 item.

So here, we have a column called 'task' with a list of values, a column called 'action' with a list of values, etc.

In [36]:
query_dict = {
              'task': ['Single Table Queries'],
              'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
              'query': [sql]
             }
query_dict

{'task': ['Single Table Queries'],
 'action': ['Which 5 users have viewed the most times and what is the sum of those views per user?'],
 'query': ['\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                ']}

Now that having the data structure (query_dict) containing the data, we create a pandas dataframe that holds those values:

In [37]:
queries = pd.DataFrame(query_dict)
queries

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

Now load that pandas dataframe (queries) into the sqlite table called queries.

In [38]:
# load query into sqlite
queries.to_sql('queries', con, if_exists='append', index=False)

# read back in to prove that it worked
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)
queries.head()

,task,action,query
0,Single Table Queries,Which 5 users have viewed the most times and w...,"\nSELECT Id, SUM(Views) AS TotalViews\n FRO..."

# Insert the CREATE TABLE Statements into the `queries` Table

Now that we understand how to populate the `queries` table, let's insert the CREATE TABLE statements into it.  First let's define a function to help us insert into the queries table:

In [39]:
# Define a function that will insert into the queries table
def store_query(task, action, query):
    query_dict = {
                  'task': [task],
                  'action': [action],
                  'query': [query]
                 }

    # put query into the query_dict
    queries = pd.DataFrame(query_dict)

    # load query into sqlite
    queries.to_sql('queries', con, if_exists='append', index=False)

Now we can specify the queries and call the above function to store them.

In [40]:
sql = """
    CREATE TABLE "comments" (
    "Id" INTEGER,
    "PostId" INTEGER,
    "Score" INTEGER,
    "Text" TEXT,
    "CreationDate" TEXT,
    "UserId" INTEGER,
    FOREIGN KEY(PostId) REFERENCES posts(Id),
    FOREIGN KEY(UserId) REFERENCES users(Id)
    )
    """
store_query("Task 1", "Create table comments", sql)

Let's prove it works by selecting back from the queries table:

In [41]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER,\n    FOREIGN KEY(PostId) REFERENCES posts(Id),\n    FOREIGN KEY(UserId) REFERENCES users(Id)\n    )\n    ')]

## Insert the other CREATE TABLE statements into the `queries` table.

In [42]:
sql = """
    CREATE TABLE "users" (
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "Reputation" INTEGER,
    "CreationDate" TEXT,
    "DisplayName" TEXT,
    "LastAccessDate" TEXT,
    "WebsiteUrl" TEXT,
    "Location" TEXT,
    "AboutMe" TEXT,
    "Views" INTEGER,
    "UpVotes" INTEGER,
    "DownVotes" INTEGER,
    "ProfileImageUrl" TEXT,
    "AccountId" INTEGER
    )
    """
store_query("Task 1", "Create table users", sql)

In [43]:
sql = """
    CREATE TABLE "posts" (
    "Id" INTEGER NOT NULL PRIMARY KEY,
    "PostTypeId" INTEGER,
    "AcceptedAnswerId" INTEGER,
    "ParentId" INTEGER,
    "CreationDate" TEXT,
    "Score" INTEGER,
    "ViewCount" INTEGER,
    "Body" TEXT,
    "OwnerUserId" INTEGER,
    "OwnerDisplayName" TEXT,
    "LastEditorUserId" INTEGER,
    "LastEditorDisplayName" TEXT,
    "LastEditDate" TEXT,
    "LastActivityDate" TEXT,
    "Title" TEXT,
    "Tags" TEXT,
    "AnswerCount" INTEGER,
    "CommentCount" INTEGER,
    "FavoriteCount" INTEGER,
    "ClosedDate" TEXT,
    "CommunityOwnedDate" TEXT
    )
    """
store_query("Task 1", "Create table posts", sql)

In [44]:
# Prove it works
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER,\n    FOREIGN KEY(PostId) REFERENCES posts(Id),\n    FOREIGN KEY(UserId) REFERENCES users(Id)\n    )\n    '),
 ('Task 1', 'Create table users', '\n    CREATE TABLE "users" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "Reputation" INTEGER,\n    "CreationDate" TEXT,\n    "DisplayName" TEXT,\n  ... (82 characters truncated) ... tMe" TEXT,\n    "Views" INTEGER,\n    "UpVotes" INTEGER,\n    "DownVotes" INTEGER,\n    "ProfileImageUrl" TEXT,\n    "AccountId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\n    CREATE TABLE "posts" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "PostTypeId" INTEGER,\n    "AcceptedAnswerId" INTEGER,\n    "ParentId" INTE ... (321 characters truncated) ... "AnswerCount" INTEGER,\n    "CommentCount" INTEGER,\n    "FavoriteCount" INTEGER,\n    "ClosedDate" TEXT,\n    "CommunityOwnedDate" TEXT\n    )\n    ')]

## Count the Number of Rows in Each Table

In [45]:
# Count the number of rows in the comments table
%sql SELECT COUNT(*) FROM comments

 * sqlite:///chatdata.db
Done.

[(50000,)]

In [46]:
sql = """
    SELECT COUNT(*) FROM comments
    """
store_query("Task 1", "Count the number of rows in the comments table", sql)

In [47]:
# Count the number of rows in the users table
%sql SELECT COUNT(*) FROM users

 * sqlite:///chatdata.db
Done.

[(18412,)]

In [48]:
sql = """
    SELECT COUNT(*) FROM users
    """
store_query("Task 1", "Count the number of rows in the users table", sql)

In [49]:
# Count the number of rows in the posts table
%sql SELECT COUNT(*) FROM posts

 * sqlite:///chatdata.db
Done.

[(42234,)]

In [50]:
sql = """
    SELECT COUNT(*) FROM posts
    """
store_query("Task 1", "Count the number of rows in the posts table", sql)

## Do some Random Checks on the Data
Let's write some queries that select 5 random rows from each table.

Then enter the queries into the code cells below and insert the queries into the `queries` table.

In [51]:
# Run the query to select 5 random rows from the comments table
%sql SELECT * FROM comments ORDER BY random() LIMIT 5

 * sqlite:///chatdata.db
Done.

[(769625, 412181, 0, 'Even statements about timings are contentious. Take a beginner in one and an expert in another....', '2019-06-09 14:44:00', 22047),
 (788204, 422453, 0, 'I add this link for everybody interested in calling R from Python after installing R on the same pc, just in case you wish to use some R libraries within a code written in Python. https://www.kdnuggets.com/2015/12/using-python-r-together.html', '2019-08-16 10:59:34', 253250),
 (787451, 422020, 0, 'Also, the observation of more additional numbers can change the inference. In the case *"if the next number we see is 5..."* then the posterior will  ... (98 characters truncated) ... this "helping out\' (E.g. when you sample all numbers 1,2, ... 12, 13 then this will increase the posterior for 13 more than when you only sample 13)', '2019-08-13 19:24:13', 164061),
 (789341, 423033, 0, "Wasn't able to comment on the mgilbert's answer as I'm below the reputation limit - would there be a better way to ask? I'm basically alluding to full valid portfolio reconstruction in the situation where instead of using PCA(covMatrix(assets)) we use PCA(corrMatrix(Assets))", '2019-08-20 22:01:01', 103507),
 (775941, 415458, 0, '@BruceET The question is edited.', '2019-07-03 10:39:02', 36316)]

In [52]:
sql = """
    SELECT * FROM comments ORDER BY random() LIMIT 5
    """
store_query("Task 1", "Select 5 random rows from the comments table", sql)

In [53]:
# Run the query to select 5 random rows from the posts table
%sql SELECT * FROM posts ORDER BY random() LIMIT 5

 * sqlite:///chatdata.db
Done.

[(411322, 2, 0, 109579, '2019-06-03 11:48:20', 0, 0, '<p>You ask for a citable reference, I would go for one of William Cleveland\'s book <a href="https://rads.stackoverflow.com/amzn/click/com/0963488406 ... (504 characters truncated) ... e.com/questions/261752/whats-a-good-book-or-reference-for-data-visualization">What&#39;s a good book or reference for data visualization?</a>. </p>\n', 11887, None, 0, None, None, '2019-06-03 11:48:20', None, None, 0, 0, 0, None, None),
 (392704, 2, 0, 392222, '2019-02-15 16:07:32', 2, 0, '<p>You can express it as a contingency table:</p>\n\n<p><span class="math-container">$\\begin{array}{cc}\n\\begin{array}{cc|cc}\n&amp;&amp; \\text{1s ... (1610 characters truncated) ...  0.48×0.51=0.2448 occurs when the <a href="https://en.wikipedia.org/wiki/Phi_coefficient" rel="nofollow noreferrer">phi coefficient</a> is zero</p>\n', 164061, None, 164061, None, '2019-02-19 15:53:46', '2019-02-19 15:53:46', None, None, 0, 2, 0, None, None),
 (433700, 2, 0, 433555, '2019-10-29 20:52:22', 1, 0, '<p>We are to gather "uplift" is basically number of boxes. If you want to compare the <em>mean</em> number of boxes you should use an ANOVA. If the s ... (766 characters truncated) ... that an exact parametric model is specified, rather using robust or asymptotic statistics will give you valid inference about mean differences.</p>\n', 8013, None, 8013, None, '2019-10-29 21:02:09', '2019-10-29 21:02:09', None, None, 0, 0, 0, None, None),
 (419364, 1, 0, 0, '2019-07-26 19:43:34', 0, 17, '<p>I want to estimate the impact of physicians <span class="math-container">$L$</span> on a measure of health <span class="math-container">$H$</span> ... (1091 characters truncated) ... a yet. If it is not stationary in levels, but is stationary in first differences, will Arellano-Bond estimation still work? What if it is I(2)?</p>\n', 219198, None, 219198, None, '2019-07-26 20:09:01', '2019-07-26 20:09:01', 'Arellano-Bond with small N and large T', '<time-series><econometrics><panel-data>', 0, 0, 0, None, None),
 (432451, 1, 432453, 0, '2019-10-21 15:21:39', 1, 15, '<p>I was wondering if somebody would be able to shine a light on accuracy converging to 1 relatively quickly during training. </p>\n\n<p>I am working ... (1598 characters truncated) ... //i.stack.imgur.com/ifn1S.png" rel="nofollow noreferrer"><img src="https://i.stack.imgur.com/ifn1S.png" alt="enter image description here"></a></p>\n', 242737, None, 0, None, None, '2019-10-21 15:33:51', 'Accuracy converging to one in neural network (tensorflow.keras)', '<loss-functions><accuracy><tensorflow><keras>', 1, 0, 0, None, None)]

In [54]:
sql = """
    SELECT * FROM posts ORDER BY random() LIMIT 5
    """
store_query("Task 1", "Select 5 random rows from the posts table", sql)

In [55]:
# Run the query to select 5 random rows from the users table
%sql SELECT * FROM users ORDER BY random() LIMIT 5

 * sqlite:///chatdata.db
Done.

[(253901, 1, '2019-07-17 11:03:18', 'amf', '2019-07-17 11:03:18', None, None, None, 2, 0, 0, None, 16334714),
 (141966, 111, '2016-12-11 15:49:43', 'Praveen', '2019-12-01 00:10:28', None, None, None, 5, 0, 0, 'https://www.gravatar.com/avatar/784ea8ecde11b7235c0295c9932f0a8e?s=128&d=identicon&r=PG&f=1', 8651781),
 (4704, 630, '2011-05-22 13:58:50', 'G. Grothendieck', '2019-12-01 00:01:45', None, None, '<p>GKX Group, GKX Associates Inc.\n    tel: 1-877-GKX-GROUP</p>\n', 332, 47, 1, None, 244009),
 (217591, 121, '2018-08-14 11:04:18', 'Girish Kumar Chandora', '2019-11-11 04:47:49', 'https://www.linkedin.com/in/girish-kumar-784653126/', 'Hyderabad, Telangana, India', '<p><em>I am a complicated guy with a simple life.\nPursuing a career in the field of Data Science</em></p>\n', 1, 1, 0, 'https://i.stack.imgur.com/OiE5k.jpg', 8497043),
 (124286, 3, '2016-07-23 23:32:32', 'Espresso', '2019-05-17 17:12:53', None, None, None, 0, 0, 0, 'https://i.stack.imgur.com/3tJKg.jpg?s=128&g=1', 6431037)]

In [56]:
sql = """
    SELECT * FROM users ORDER BY random() LIMIT 5
    """
store_query("Task 1", "Select 5 random rows from the users table", sql)

# Create Single Table Queries

We can now start the analysis with our single-table queries.  First we need to create a new computed column to help with one of the queries.  The code below creates a column called LEN_BODY which is the length of the BODY text:

In [57]:
%%sql
ALTER TABLE POSTS ADD COLUMN LEN_BODY INT

 * sqlite:///chatdata.db
Done.

[]

In [58]:
%%sql
UPDATE POSTS SET LEN_BODY = LENGTH(BODY)

 * sqlite:///chatdata.db
42234 rows affected.

[]

### Single Table Queries

How many posts have 0 comments?

In [59]:
%sql SELECT COUNT(*) FROM posts WHERE CommentCount=0

 * sqlite:///chatdata.db
Done.

[(21713,)]

In [60]:
sql = """
    SELECT COUNT(*) FROM posts WHERE CommentCount=0
    """
store_query("Task 2", "How many posts have 0 comments?", sql)

How many posts have 1 comments?

In [61]:
%sql SELECT COUNT(*) FROM posts WHERE CommentCount=1

 * sqlite:///chatdata.db
Done.

[(6460,)]

In [62]:
sql = """
    SELECT COUNT(*) FROM posts WHERE CommentCount=1
    """
store_query("Task 2", "How many posts have 1 comments?", sql)

How many posts have 2 comments or more?

In [63]:
%sql SELECT COUNT(*) FROM posts WHERE CommentCount>1

 * sqlite:///chatdata.db
Done.

[(14061,)]

In [64]:
sql = """
    SELECT COUNT(*) FROM posts WHERE CommentCount>1
    """
store_query("Task 2", "How many posts have 2 comments or more?", sql)

Find the 5 posts with the highest viewcount

In [65]:
%sql SELECT Body, ViewCount FROM posts ORDER BY ViewCount DESC LIMIT 5

 * sqlite:///chatdata.db
Done.

[('<ul>\n<li>Statement One (S1): "One in 80 deaths is caused by a car accident."</li>\n<li>Statement Two (S2): "One in 80 people dies as a result of a c ... (2000 characters truncated) ...  interpretation (their default for S2 is a much stronger assumption), or if they have some innate statistical sense that I\'m in fact lacking. </p>\n', 19542),
 ('<p>A human child at age 2 needs around 5 instances of a car to be able to identify it with reasonable accuracy regardless of color, make, etc. When m ... (217 characters truncated) ... >What is it that artificial neural networks are missing that prevent them from being able to learn way quicker? Is transfer learning an answer?</p>\n', 16317),
 ('<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 11723),
 ('<p>The title of the Comment in Nature <a href="https://www.nature.com/articles/d41586-019-00857-9" rel="noreferrer">Scientists rise up against statis ... (1880 characters truncated) ... pft.jpg" rel="noreferrer"><img src="https://i.stack.imgur.com/tgpft.jpg" alt="Nature: Scientists rise up against statistical significance"></a></p>\n', 9850),
 ('<p>I am designing a one year program in data analysis with a local community college. The program aims to prepare students to handle basic tasks in d ... (891 characters truncated) ... ur in the area of variable selection and sampling design. I\'m interested in paradoxes that occur in other areas -- like the analysis as such. </p>\n', 6718)]

In [66]:
sql = """
    SELECT Body, ViewCount FROM posts ORDER BY ViewCount DESC LIMIT 5
    """
store_query("Task 2", "Find the 5 posts with the highest viewcount", sql)

Find the top 5 posts with the highest scores

In [67]:
%%sql
SELECT Id, Body, Score
    FROM posts
    ORDER BY Score DESC
    LIMIT 5

 * sqlite:///chatdata.db
Done.

[(431397, '<p>Yes there is. Generally it is termed <strong>base rate fallacy</strong> or more specific <strong>false positive paradox</strong>. There is even a wikipedia article about it: <a href="https://en.wikipedia.org/wiki/Base_rate_fallacy" rel="noreferrer">see here</a></p>\n', 101),
 (394128, '<p>I caution against expecting strong resemblance between biological and artificial neural networks. I think the name "neural networks" is a bit dang ... (5584 characters truncated) ... l volume, diversity and resolution of the training data.</p>\n\n<p>*We don\'t presently have a tags for one-shot learning or few-shot learning.</p>\n', 100),
 (426878, '<p><strong>tl;dr</strong> Even though this is an image classification dataset, it remains a <strong>very easy</strong> task, for which one can easily ... (4424 characters truncated) ... and out more\n    frame1 = plt.gca()\n    frame1.axes.get_xaxis().set_visible(False)\n    frame1.axes.get_yaxis().set_visible(False)\n</code></pre>\n', 93),
 (388578, '<p>To me "1 in 80 deaths..." is by far the clearer statement.  The denominator in your "1 in 80" is the set of all death events and that statement ma ... (282 characters truncated) ... rence set in probability or frequency assertions like this. If you\'re talking about the proportion of deaths, then say "deaths" not "people". </p>\n', 80),
 (431370, '<p>It seems very counter intuitive to many people that a given diagnostic test with very high accuracy (say 99%) can generate massively more false po ... (520 characters truncated) ... lp me explain it to a lay person.</p>\n\n<p>Apologies if this is the wrong forum to ask this. If so please direct me to a more appropriate one.</p>\n', 77)]

In [68]:
sql = """
    SELECT SELECT Id, Body, Score FROM posts ORDER BY Score DESC LIMIT 5
    """
store_query("Task 2", "Find the top 5 posts with the highest scores", sql)

What are the 5 most frequent scores on posts?

In [69]:
%%sql
SELECT Score,
       COUNT(Id) AS count
            FROM posts
            GROUP BY Score
            ORDER BY count DESC
            LIMIT 5

 * sqlite:///chatdata.db
Done.

[(0, 19888), (1, 11867), (2, 5094), (3, 2228), (4, 1059)]

In [70]:
sql = """
    SELECT Score, COUNT(Id) AS count FROM posts GROUP BY Score ORDER BY count DESC LIMIT 5
    """
store_query("Task 2", "What are the 5 most frequent scores on posts?", sql)

How many posts have the keyword "data" in their tags?

In [71]:
%%sql
SELECT COUNT(Id)
    FROM posts
    WHERE Tags like '%data%'

 * sqlite:///chatdata.db
Done.

[(2242,)]

In [72]:
sql = """
    SELECT COUNT(Id) FROM posts WHERE Tags like '%data%'
    """
store_query("Task 2", "How many posts have the keyword 'data' in their tags?", sql)

What are the 5 most frequent *CommentCount* for posts?

In [73]:
%%sql
SELECT CommentCount,
       COUNT(Id) AS post_qty
            FROM posts
                GROUP BY CommentCount
                ORDER BY post_qty DESC
                LIMIT 5

 * sqlite:///chatdata.db
Done.

[(0, 21713), (1, 6460), (2, 4966), (3, 3063), (4, 2026)]

In [74]:
sql = """
    SELECT CommentCount, COUNT(Id) AS post_qty FROM posts GROUP BY CommentCount ORDER BY post_qty DESC LIMIT 5
    """
store_query("Task 2", "What are the 5 most frequent CommentCount for posts?", sql)

How many posts have an accepted answer?

In [75]:
%%sql
SELECT COUNT(Id) FROM posts
    WHERE AcceptedAnswerId>0

 * sqlite:///chatdata.db
Done.

[(5341,)]

In [76]:
sql = """
    SELECT COUNT(Id) FROM posts WHERE AcceptedAnswerId>0
    """
store_query("Task 2", "How many posts have an accepted answer?", sql)

What is the average reputation of table users?

In [77]:
%sql SELECT AVG(Reputation) FROM users

 * sqlite:///chatdata.db
Done.

[(312.3509124484032,)]

In [78]:
sql = """
    SELECT AVG(Reputation) FROM users
    """
store_query("Task 2", "What is the average reputation of table users?", sql)

What are the min and max reputation of users?

In [79]:
%sql SELECT MIN(Reputation), MAX(Reputation) FROM users

 * sqlite:///chatdata.db
Done.

[(1, 228662)]

In [80]:
sql = """
    SELECT MIN(Reputation), MAX(Reputation) FROM users
    """
store_query("Task 2", "What are the min and max reputation of users?", sql)

What is the length of the body of 5 most viewed posts?

In [81]:
%%sql
SELECT Id,
       LENGTH(Body),
       ViewCount 
            FROM posts
            ORDER BY ViewCount DESC
            LIMIT 5

 * sqlite:///chatdata.db
Done.

[(388566, 2270, 19542),
 (394118, 512, 16317),
 (431370, 811, 11723),
 (398646, 2148, 9850),
 (434128, 1172, 6718)]

In [82]:
sql = """
    SELECT Id, LENGTH(Body), ViewCount FROM posts ORDER BY ViewCount DESC LIMIT 5
    """
store_query("Task 2", "What is the length of the body of 5 most viewed posts?", sql)

How many different locations are there in the users table?

In [83]:
%sql SELECT COUNT(DISTINCT Location) FROM users

 * sqlite:///chatdata.db
Done.

[(1900,)]

In [84]:
sql = """
    SELECT COUNT(DISTINCT Location) FROM users
    """
store_query("Task 2", "How many different locations are there in the users table?", sql)

What are the top 5 locations of users?

In [85]:
%%sql
SELECT Location, COUNT(Id)
    FROM users
    WHERE Location<>''
    GROUP BY Location
    ORDER BY COUNT(Id) DESC
    LIMIT 5

 * sqlite:///chatdata.db
Done.

[('Germany', 117),
 ('India', 100),
 ('United States', 69),
 ('Paris, France', 66),
 ('London, United Kingdom', 63)]

In [86]:
sql = """
    SELECT Location, COUNT(Id)
    FROM users
    WHERE Location<>''
    GROUP BY Location
    ORDER BY COUNT(Id) DESC
    LIMIT 5
    """
store_query("Task 2", "What are the top 5 locations of users?", sql)

Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage.

In [87]:
%%sql
SELECT
    CASE CAST(strftime('%w', CreationDate) AS INTEGER)
                WHEN 1 THEN 'Monday'
                WHEN 2 THEN 'Tuesday'
                WHEN 3 THEN 'Wednesday'
                WHEN 4 THEN 'Thursday'
                WHEN 5 THEN 'Friday'
                WHEN 6 THEN 'Saturday'
                ELSE 'Sunday'
    END day_of_week,
    (SUM(ViewCount)*100.0)/(SELECT SUM(ViewCount) FROM posts) AS percentage
                FROM posts
                    GROUP BY day_of_week
                    ORDER BY percentage DESC

 * sqlite:///chatdata.db
Done.

[('Thursday', 16.81947628859075),
 ('Wednesday', 16.76868913850077),
 ('Tuesday', 16.25503368644186),
 ('Monday', 15.806726735198032),
 ('Friday', 13.563061049604483),
 ('Sunday', 11.89560881413273),
 ('Saturday', 8.891404287531374)]

In [88]:
sql = """
SELECT
    CASE CAST(strftime('%w', CreationDate) AS INTEGER)
                WHEN 1 THEN 'Monday'
                WHEN 2 THEN 'Tuesday'
                WHEN 3 THEN 'Wednesday'
                WHEN 4 THEN 'Thursday'
                WHEN 5 THEN 'Friday'
                WHEN 6 THEN 'Saturday'
                ELSE 'Sunday'
    END day_of_week,
    (SUM(ViewCount)*100.0)/(SELECT SUM(ViewCount) FROM posts) AS percentage
                FROM posts
                    GROUP BY day_of_week
                    ORDER BY percentage DESC
    """
store_query("Task 2",
            "Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage",
            sql)

# Cross Table Queries

Let's continue the analysis with our multi-table queries.

How many posts have been created by a user that has a filled out the "AboutMe" section?

In [89]:
%%sql
SELECT COUNT(posts.Id) AS posts_qty
    FROM posts INNER JOIN users ON users.Id=posts.OwnerUserId
        WHERE users.AboutMe <> 'None'

 * sqlite:///chatdata.db
Done.

[(17189,)]

In [90]:
sql = """
    SELECT COUNT(posts.Id) AS posts_qty
        FROM posts INNER JOIN users ON users.Id=posts.OwnerUserId
            WHERE users.AboutMe <> 'None'
    """
store_query("Task 3",
            "How many posts have been created by a user that has a filled out the 'AboutMe' section?",
            sql)

Considering only the users with an "AboutMe", how many posts are there per user?

In [91]:
%%sql
SELECT CAST(SUM(posts_qty)/COUNT(user_id) AS FLOAT) AS posts_per_user
    FROM (
        SELECT users.Id AS user_id,
               COUNT(posts.Id) AS posts_qty
            FROM posts INNER JOIN users ON users.Id=posts.OwnerUserId
            WHERE users.AboutMe <> ''
            GROUP BY users.Id
)

 * sqlite:///chatdata.db
Done.

[(5.0,)]

In [92]:
sql = """
    SELECT CAST(SUM(posts_qty)/COUNT(user_id) AS FLOAT) AS posts_per_user
        FROM (
            SELECT users.Id AS user_id,
                   COUNT(posts.Id) AS posts_qty
                FROM posts INNER JOIN users ON users.Id=posts.OwnerUserId
                WHERE users.AboutMe <> ''
                GROUP BY users.Id
             )
    """
store_query("Task 3",
            "Considering only the users with an 'AboutMe', how many posts are there per user?",
            sql)

Not taking into account the CommentCount field in the table posts, what are the Top 10 posts in terms of number of comments?

In [93]:
%%sql
SELECT posts.Id AS post_id,
       COUNT(comments.Id) AS comments_qty
    FROM comments INNER JOIN posts ON posts.Id=comments.PostId
    GROUP BY post_id
    ORDER BY comments_qty DESC
    LIMIT 10

 * sqlite:///chatdata.db
Done.

[(386853, 66),
 (386556, 34),
 (418910, 31),
 (395232, 31),
 (402987, 27),
 (386075, 26),
 (394118, 24),
 (402950, 23),
 (398828, 23),
 (396111, 22)]

In [94]:
sql = """
    SELECT posts.Id AS post_id,
       COUNT(comments.Id) AS comments_qty
          FROM comments INNER JOIN posts ON posts.Id=comments.PostId
                GROUP BY post_id
                ORDER BY comments_qty DESC
                LIMIT 10
    """
store_query("Task 3",
            "Not taking into account the CommentCount field in the table posts, what are the Top 10 posts in terms of number of comments?",
            sql)

What are the Top 10 posts which have the highest cummulative (post score + comment score) score?

In [95]:
%%sql
SELECT posts.Id AS post_id,
       SUM(comments.Score)+SUM(posts.Score) AS cum_score
             FROM comments INNER JOIN posts ON posts.Id=comments.PostId
                  GROUP BY post_id
                  ORDER BY cum_score DESC
                  LIMIT 10

 * sqlite:///chatdata.db
Done.

[(394118, 1778),
 (394128, 1569),
 (418910, 1094),
 (398653, 1021),
 (388578, 941),
 (388566, 885),
 (396818, 808),
 (418814, 621),
 (394258, 570),
 (394439, 566)]

In [96]:
sql = """
    SELECT posts.Id AS post_id,
           SUM(comments.Score)+SUM(posts.Score) AS cum_score
             FROM comments INNER JOIN posts ON posts.Id=comments.PostId
                  GROUP BY post_id
                  ORDER BY cum_score DESC
                  LIMIT 10
    """
store_query("Task 3",
            "What are the Top 10 posts which have the highest cummulative (post score + comment score) score?",
            sql)

Who are the top 10 users who comment the most?

In [97]:
%%sql
SELECT users.Id AS user_id,
       COUNT(comments.Id) AS comment_qty,
       users.Reputation AS reputation
           FROM comments INNER JOIN users ON users.Id=comments.UserId
                GROUP BY user_id
                ORDER BY comment_qty DESC
                LIMIT 10

 * sqlite:///chatdata.db
Done.

[(919, 3301, 223056),
 (805, 1153, 228662),
 (143489, 1024, 2890),
 (11887, 805, 39200),
 (85665, 691, 17391),
 (164061, 540, 13485),
 (22047, 536, 41385),
 (158565, 504, 6482),
 (7962, 492, 8030),
 (35989, 470, 71548)]

In [98]:
sql = """
    SELECT users.Id AS user_id,
       COUNT(comments.Id) AS comment_qty,
       users.Reputation AS reputation
           FROM comments INNER JOIN users ON users.Id=comments.UserId
                GROUP BY user_id
                ORDER BY comment_qty DESC
                LIMIT 10
    """
store_query("Task 3",
            "Who are the top 10 users who comment the most?",
            sql)

Who are the top 10 users who post the most?

In [99]:
%%sql
SELECT * FROM 
 (SELECT users.Id AS user_id,
         COUNT(posts.Id) AS post_qty,
         users.Reputation AS reputation
             FROM posts INNER JOIN users ON users.Id=posts.OwnerUserId
                 GROUP BY user_id
                 ORDER BY post_qty DESC
                 LIMIT 10)
    ORDER BY reputation DESC

 * sqlite:///chatdata.db
Done.

[(805, 230, 228662),
 (686, 386, 85077),
 (35989, 230, 71548),
 (7224, 233, 65999),
 (1352, 285, 59160),
 (173082, 435, 42553),
 (11887, 435, 39200),
 (3382, 274, 24841),
 (204068, 637, 17404),
 (85665, 545, 17391)]

In [100]:
sql = """
    SELECT * FROM 
 (SELECT users.Id AS user_id,
         COUNT(posts.Id) AS post_qty,
         users.Reputation AS reputation
             FROM posts INNER JOIN users ON users.Id=posts.OwnerUserId
                 GROUP BY user_id
                 ORDER BY post_qty DESC
                 LIMIT 10)
    ORDER BY reputation DESC
    """
store_query("Task 3",
            "Who are the top 10 users who post the most?",
            sql)

# Check the Queries Table

Now let's tidy up and check the queries table.

First let's check it's contents:

In [101]:
%sql SELECT * FROM queries

 * sqlite:///chatdata.db
Done.

[('Single Table Queries', 'Which 5 users have viewed the most times and what is the sum of those views per user?', '\nSELECT Id, SUM(Views) AS TotalViews\n    FROM Users\n        GROUP BY Id\n            ORDER BY TotalViews DESC\n                LIMIT 5\n                '),
 ('Task 1', 'Create table comments', '\n    CREATE TABLE "comments" (\n    "Id" INTEGER,\n    "PostId" INTEGER,\n    "Score" INTEGER,\n    "Text" TEXT,\n    "CreationDate" TEXT,\n    "UserId" INTEGER,\n    FOREIGN KEY(PostId) REFERENCES posts(Id),\n    FOREIGN KEY(UserId) REFERENCES users(Id)\n    )\n    '),
 ('Task 1', 'Create table users', '\n    CREATE TABLE "users" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "Reputation" INTEGER,\n    "CreationDate" TEXT,\n    "DisplayName" TEXT,\n  ... (82 characters truncated) ... tMe" TEXT,\n    "Views" INTEGER,\n    "UpVotes" INTEGER,\n    "DownVotes" INTEGER,\n    "ProfileImageUrl" TEXT,\n    "AccountId" INTEGER\n    )\n    '),
 ('Task 1', 'Create table posts', '\n    CREATE TABLE "posts" (\n    "Id" INTEGER NOT NULL PRIMARY KEY,\n    "PostTypeId" INTEGER,\n    "AcceptedAnswerId" INTEGER,\n    "ParentId" INTE ... (321 characters truncated) ... "AnswerCount" INTEGER,\n    "CommentCount" INTEGER,\n    "FavoriteCount" INTEGER,\n    "ClosedDate" TEXT,\n    "CommunityOwnedDate" TEXT\n    )\n    '),
 ('Task 1', 'Count the number of rows in the comments table', '\n    SELECT COUNT(*) FROM comments\n    '),
 ('Task 1', 'Count the number of rows in the users table', '\n    SELECT COUNT(*) FROM users\n    '),
 ('Task 1', 'Count the number of rows in the posts table', '\n    SELECT COUNT(*) FROM posts\n    '),
 ('Task 1', 'Select 5 random rows from the comments table', '\n    SELECT * FROM comments ORDER BY random() LIMIT 5\n    '),
 ('Task 1', 'Select 5 random rows from the posts table', '\n    SELECT * FROM posts ORDER BY random() LIMIT 5\n    '),
 ('Task 1', 'Select 5 random rows from the users table', '\n    SELECT * FROM users ORDER BY random() LIMIT 5\n    '),
 ('Task 2', 'How many posts have 0 comments?', '\n    SELECT COUNT(*) FROM posts WHERE CommentCount=0\n    '),
 ('Task 2', 'How many posts have 1 comments?', '\n    SELECT COUNT(*) FROM posts WHERE CommentCount=1\n    '),
 ('Task 2', 'How many posts have 2 comments or more?', '\n    SELECT COUNT(*) FROM posts WHERE CommentCount>1\n    '),
 ('Task 2', 'Find the 5 posts with the highest viewcount', '\n    SELECT Body, ViewCount FROM posts ORDER BY ViewCount DESC LIMIT 5\n    '),
 ('Task 2', 'Find the top 5 posts with the highest scores', '\n    SELECT SELECT Id, Body, Score FROM posts ORDER BY Score DESC LIMIT 5\n    '),
 ('Task 2', 'What are the 5 most frequent scores on posts?', '\n    SELECT Score, COUNT(Id) AS count FROM posts GROUP BY Score ORDER BY count DESC LIMIT 5\n    '),
 ('Task 2', "How many posts have the keyword 'data' in their tags?", "\n    SELECT COUNT(Id) FROM posts WHERE Tags like '%data%'\n    "),
 ('Task 2', 'What are the 5 most frequent CommentCount for posts?', '\n    SELECT CommentCount, COUNT(Id) AS post_qty FROM posts GROUP BY CommentCount ORDER BY post_qty DESC LIMIT 5\n    '),
 ('Task 2', 'How many posts have an accepted answer?', '\n    SELECT COUNT(Id) FROM posts WHERE AcceptedAnswerId>0\n    '),
 ('Task 2', 'What is the average reputation of table users?', '\n    SELECT AVG(Reputation) FROM users\n    '),
 ('Task 2', 'What are the min and max reputation of users?', '\n    SELECT MIN(Reputation), MAX(Reputation) FROM users\n    '),
 ('Task 2', 'What is the length of the body of 5 most viewed posts?', '\n    SELECT Id, LENGTH(Body), ViewCount FROM posts ORDER BY ViewCount DESC LIMIT 5\n    '),
 ('Task 2', 'How many different locations are there in the users table?', '\n    SELECT COUNT(DISTINCT Location) FROM users\n    '),
 ('Task 2', 'What are the top 5 locations of users?', "\n    SELECT Location, COUNT(Id)\n    FROM users\n    WHERE Location<>''\n    GROUP BY Location\n    ORDER BY COUNT(Id) DESC\n    LIMIT 5\n    "),
 ('Task 2', 'Rank the days of the week from highest to lowest in terms of the volume of ViewCount as a percentage', "\nSELECT\n    CASE CAST(strftime('%w', CreationDate) AS INTEGER)\n                WHEN 1 THEN 'Monday'\n                WHEN 2 THEN 'Tuesday'\n       ... (254 characters truncated) ... ) FROM posts) AS percentage\n                FROM posts\n                    GROUP BY day_of_week\n                    ORDER BY percentage DESC\n    "),
 ('Task 3', "How many posts have been created by a user that has a filled out the 'AboutMe' section?", "\n    SELECT COUNT(posts.Id) AS posts_qty\n        FROM posts INNER JOIN users ON users.Id=posts.OwnerUserId\n            WHERE users.AboutMe <> 'None'\n    "),
 ('Task 3', "Considering only the users with an 'AboutMe', how many posts are there per user?", "\n    SELECT CAST(SUM(posts_qty)/COUNT(user_id) AS FLOAT) AS posts_per_user\n        FROM (\n            SELECT users.Id AS user_id,\n                ... (58 characters truncated) ... ts INNER JOIN users ON users.Id=posts.OwnerUserId\n                WHERE users.AboutMe <> ''\n                GROUP BY users.Id\n             )\n    "),
 ('Task 3', 'Not taking into account the CommentCount field in the table posts, what are the Top 10 posts in terms of number of comments?', '\n    SELECT posts.Id AS post_id,\n       COUNT(comments.Id) AS comments_qty\n          FROM comments INNER JOIN posts ON posts.Id=comments.PostId\n                GROUP BY post_id\n                ORDER BY comments_qty DESC\n                LIMIT 10\n    '),
 ('Task 3', 'What are the Top 10 posts which have the highest cummulative (post score + comment score) score?', '\n    SELECT posts.Id AS post_id,\n           SUM(comments.Score)+SUM(posts.Score) AS cum_score\n             FROM comments INNER JOIN posts ON posts.Id=comments.PostId\n                  GROUP BY post_id\n                  ORDER BY cum_score DESC\n                  LIMIT 10\n    '),
 ('Task 3', 'Who are the top 10 users who comment the most?', '\n    SELECT users.Id AS user_id,\n       COUNT(comments.Id) AS comment_qty,\n       users.Reputation AS reputation\n           FROM comments INNER JOIN users ON users.Id=comments.UserId\n                GROUP BY user_id\n                ORDER BY comment_qty DESC\n                LIMIT 10\n    '),
 ('Task 3', 'Who are the top 10 users who post the most?', '\n    SELECT * FROM \n (SELECT users.Id AS user_id,\n         COUNT(posts.Id) AS post_qty,\n         users.Reputation AS reputation\n             FRO ... (45 characters truncated) ... nerUserId\n                 GROUP BY user_id\n                 ORDER BY post_qty DESC\n                 LIMIT 10)\n    ORDER BY reputation DESC\n    ')]

## Drop Duplicates

You likely have some duplicates. Lets drop them.

In [102]:
# Read the queries table into pandas
sql = 'SELECT * FROM queries'
queries = pd.read_sql(sql, con)

# Drop duplicates
queries.drop_duplicates(inplace = True) # drop duplicates

## Case Issues

Remember, SQL is case insensitive. Pandas IS case sensitive. Lets deal with this now by making all of the text uppercase.

In [103]:
for col in queries.columns:
    queries[col] = queries[col].str.upper()
    
queries

,task,action,query
0,SINGLE TABLE QUERIES,WHICH 5 USERS HAVE VIEWED THE MOST TIMES AND W...,"\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n FRO..."
1,TASK 1,CREATE TABLE COMMENTS,"\n CREATE TABLE ""COMMENTS"" (\n ""ID"" INTE..."
2,TASK 1,CREATE TABLE USERS,"\n CREATE TABLE ""USERS"" (\n ""ID"" INTEGER..."
3,TASK 1,CREATE TABLE POSTS,"\n CREATE TABLE ""POSTS"" (\n ""ID"" INTEGER..."
4,TASK 1,COUNT THE NUMBER OF ROWS IN THE COMMENTS TABLE,\n SELECT COUNT(*) FROM COMMENTS\n
5,TASK 1,COUNT THE NUMBER OF ROWS IN THE USERS TABLE,\n SELECT COUNT(*) FROM USERS\n
6,TASK 1,COUNT THE NUMBER OF ROWS IN THE POSTS TABLE,\n SELECT COUNT(*) FROM POSTS\n
7,TASK 1,SELECT 5 RANDOM ROWS FROM THE COMMENTS TABLE,\n SELECT * FROM COMMENTS ORDER BY RANDOM()...
8,TASK 1,SELECT 5 RANDOM ROWS FROM THE POSTS TABLE,\n SELECT * FROM POSTS ORDER BY RANDOM() LI...
9,TASK 1,SELECT 5 RANDOM ROWS FROM THE USERS TABLE,\n SELECT * FROM USERS ORDER BY RANDOM() LI...
10,TASK 2,HOW MANY POSTS HAVE 0 COMMENTS?,\n SELECT COUNT(*) FROM POSTS WHERE COMMENT...
11,TASK 2,HOW MANY POSTS HAVE 1 COMMENTS?,\n SELECT COUNT(*) FROM POSTS WHERE COMMENT...
12,TASK 2,HOW MANY POSTS HAVE 2 COMMENTS OR MORE?,\n SELECT COUNT(*) FROM POSTS WHERE COMMENT...
13,TASK 2,FIND THE 5 POSTS WITH THE HIGHEST VIEWCOUNT,"\n SELECT BODY, VIEWCOUNT FROM POSTS ORDER ..."
14,TASK 2,FIND THE TOP 5 POSTS WITH THE HIGHEST SCORES,"\n SELECT SELECT ID, BODY, SCORE FROM POSTS..."
15,TASK 2,WHAT ARE THE 5 MOST FREQUENT SCORES ON POSTS?,"\n SELECT SCORE, COUNT(ID) AS COUNT FROM PO..."
16,TASK 2,HOW MANY POSTS HAVE THE KEYWORD 'DATA' IN THEI...,\n SELECT COUNT(ID) FROM POSTS WHERE TAGS L...
17,TASK 2,WHAT ARE THE 5 MOST FREQUENT COMMENTCOUNT FOR ...,"\n SELECT COMMENTCOUNT, COUNT(ID) AS POST_Q..."
18,TASK 2,HOW MANY POSTS HAVE AN ACCEPTED ANSWER?,\n SELECT COUNT(ID) FROM POSTS WHERE ACCEPT...
19,TASK 2,WHAT IS THE AVERAGE REPUTATION OF TABLE USERS?,\n SELECT AVG(REPUTATION) FROM USERS\n
20,TASK 2,WHAT ARE THE MIN AND MAX REPUTATION OF USERS?,"\n SELECT MIN(REPUTATION), MAX(REPUTATION) ..."
21,TASK 2,WHAT IS THE LENGTH OF THE BODY OF 5 MOST VIEWE...,"\n SELECT ID, LENGTH(BODY), VIEWCOUNT FROM ..."
22,TASK 2,HOW MANY DIFFERENT LOCATIONS ARE THERE IN THE ...,\n SELECT COUNT(DISTINCT LOCATION) FROM USE...
23,TASK 2,WHAT ARE THE TOP 5 LOCATIONS OF USERS?,"\n SELECT LOCATION, COUNT(ID)\n FROM USE..."
24,TASK 2,RANK THE DAYS OF THE WEEK FROM HIGHEST TO LOWE...,"\nSELECT\n CASE CAST(STRFTIME('%W', CREATIO..."
25,TASK 3,HOW MANY POSTS HAVE BEEN CREATED BY A USER THA...,\n SELECT COUNT(POSTS.ID) AS POSTS_QTY\n ...
26,TASK 3,"CONSIDERING ONLY THE USERS WITH AN 'ABOUTME', ...",\n SELECT CAST(SUM(POSTS_QTY)/COUNT(USER_ID...
27,TASK 3,NOT TAKING INTO ACCOUNT THE COMMENTCOUNT FIELD...,"\n SELECT POSTS.ID AS POST_ID,\n COUN..."
28,TASK 3,WHAT ARE THE TOP 10 POSTS WHICH HAVE THE HIGHE...,"\n SELECT POSTS.ID AS POST_ID,\n ..."
29,TASK 3,WHO ARE THE TOP 10 USERS WHO COMMENT THE MOST?,"\n SELECT USERS.ID AS USER_ID,\n COUN..."
30,TASK 3,WHO ARE THE TOP 10 USERS WHO POST THE MOST?,\n SELECT * FROM \n (SELECT USERS.ID AS USE...

In [104]:
# Write the now deduped uppercase dataframe back to sqlite and replace the table
queries.to_sql('queries', con, if_exists='replace', index=False)

## Use Case

Now that we have this queries table, lets give you some ideas about how you would use it.

Suppose you wanted to find all of the queries where you did a GROUP BY:

In [105]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%GROUP BY%'

 * sqlite:///chatdata.db
Done.

[('\nSELECT ID, SUM(VIEWS) AS TOTALVIEWS\n    FROM USERS\n        GROUP BY ID\n            ORDER BY TOTALVIEWS DESC\n                LIMIT 5\n                ',),
 ('\n    SELECT SCORE, COUNT(ID) AS COUNT FROM POSTS GROUP BY SCORE ORDER BY COUNT DESC LIMIT 5\n    ',),
 ('\n    SELECT COMMENTCOUNT, COUNT(ID) AS POST_QTY FROM POSTS GROUP BY COMMENTCOUNT ORDER BY POST_QTY DESC LIMIT 5\n    ',),
 ("\n    SELECT LOCATION, COUNT(ID)\n    FROM USERS\n    WHERE LOCATION<>''\n    GROUP BY LOCATION\n    ORDER BY COUNT(ID) DESC\n    LIMIT 5\n    ",),
 ("\nSELECT\n    CASE CAST(STRFTIME('%W', CREATIONDATE) AS INTEGER)\n                WHEN 1 THEN 'MONDAY'\n                WHEN 2 THEN 'TUESDAY'\n       ... (254 characters truncated) ... ) FROM POSTS) AS PERCENTAGE\n                FROM POSTS\n                    GROUP BY DAY_OF_WEEK\n                    ORDER BY PERCENTAGE DESC\n    ",),
 ("\n    SELECT CAST(SUM(POSTS_QTY)/COUNT(USER_ID) AS FLOAT) AS POSTS_PER_USER\n        FROM (\n            SELECT USERS.ID AS USER_ID,\n                ... (58 characters truncated) ... TS INNER JOIN USERS ON USERS.ID=POSTS.OWNERUSERID\n                WHERE USERS.ABOUTME <> ''\n                GROUP BY USERS.ID\n             )\n    ",),
 ('\n    SELECT POSTS.ID AS POST_ID,\n       COUNT(COMMENTS.ID) AS COMMENTS_QTY\n          FROM COMMENTS INNER JOIN POSTS ON POSTS.ID=COMMENTS.POSTID\n                GROUP BY POST_ID\n                ORDER BY COMMENTS_QTY DESC\n                LIMIT 10\n    ',),
 ('\n    SELECT POSTS.ID AS POST_ID,\n           SUM(COMMENTS.SCORE)+SUM(POSTS.SCORE) AS CUM_SCORE\n             FROM COMMENTS INNER JOIN POSTS ON POSTS.ID=COMMENTS.POSTID\n                  GROUP BY POST_ID\n                  ORDER BY CUM_SCORE DESC\n                  LIMIT 10\n    ',),
 ('\n    SELECT USERS.ID AS USER_ID,\n       COUNT(COMMENTS.ID) AS COMMENT_QTY,\n       USERS.REPUTATION AS REPUTATION\n           FROM COMMENTS INNER JOIN USERS ON USERS.ID=COMMENTS.USERID\n                GROUP BY USER_ID\n                ORDER BY COMMENT_QTY DESC\n                LIMIT 10\n    ',),
 ('\n    SELECT * FROM \n (SELECT USERS.ID AS USER_ID,\n         COUNT(POSTS.ID) AS POST_QTY,\n         USERS.REPUTATION AS REPUTATION\n             FRO ... (45 characters truncated) ... NERUSERID\n                 GROUP BY USER_ID\n                 ORDER BY POST_QTY DESC\n                 LIMIT 10)\n    ORDER BY REPUTATION DESC\n    ',)]

Let's find the queries that have 'DISTINCT' in them. You can do it with the %sql command or with Pandas and sql.

In [106]:
%%sql
SELECT query
    FROM queries
        WHERE query LIKE '%DISTINCT%'

 * sqlite:///chatdata.db
Done.

[('\n    SELECT COUNT(DISTINCT LOCATION) FROM USERS\n    ',)]

# Close SQLite

It is good practise to close all relational databases as soon as you are finished updating them.

In [107]:
con.close()